<configuration>
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5level %date %logger %msg%n</pattern>
    </encoder>
  </appender>
  <logger name="org.jboss.weld" level="INFO"/>
  <logger name="de.fisp" level="debug"/>
  <logger name="org.hibernate.SQL" level="debug"/>
  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>